body {
    padding: 8px;
    margin: 0 auto;
    font-family: monospace;
    max-width: 60em;
}

@media (min-width: 550px) {
    .narrow { display: none; }
    
}

@media (min-width: 350px) {
    aside.side {
	float: right;
	margin-left: 8px;
    }
}

@media (max-width: 550px) {
    .wide { display: none; }
}

header {
    color: white;
    background: black;
    padding: 8px;
}

a {
    color: red;
    text-decoration: none;
}

aside {
    background: #eee;
    margin: 0;
    padding: 8px;
}

table.list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
    table-layout: fixed;
}

table.list td:nth-child(1) {
    width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
}

table.list td:nth-child(2) {
    word-wrap: break-word;
}

table.list td:nth-child(3) {
    text-align: right;
    vertical-align: top;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
}

table.list td {
    padding: 4px;
}

content table.list tr:nth-child(4n),
content table.list tr:nth-child(4n-1) {
    background: #eee;
}

hr {
    border-width: 0;
    border-bottom: 1px solid #111;
}

td.word span {
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    cursor: default;
    color: white;
}

td.mat span { background: green; }

td.dma span { background: red; }

.text {
    font-family: sans-serif;
}
